<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <form action="/search" method="GET">
        <input type="text" name="q" value="<%=q%>">
        <input type="submit" value="検索">
      </form>
    </div>
    <div>
      <a href="/">一覧</a>
      <a href="/new">新規作成</a>
    </div>
    <table border="1">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>age</th>
        <th>momo</th>
        <th>edit</th>
        <th>delete</th>
      </tr>
    <% for( let e of data ) { %>
      <tr>
        <td><%= e.id %></td>
        <td><%= e.name %></td>
        <td><%= e.age %></td>
        <td><%= e.memo %></td>
        <td><a href="/edit?id=<%= e.id %>">編集</a></td>
        <td><a href="/delete/<%= e.id %>">削除</a></td>
      </tr>
    <% } %>
    </table>
  </body>
</html>
